@model IEnumerable<S.S.L.Domain.Enums.GymGroupView>
@using S.S.L.Web.Infrastructure.Extensions;

@{
    ViewBag.Title = "GymGroups";
    ViewBag.Heading = "Gym Groups";
    ViewBag.SubHeading = "Organize Gym groups";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
    var count = 1;
}


@if (Model.Any())
{
    <div class="col-md-8 mt-2 bg-white shadow">

        <div class="accordion mt-3" id="accordionExample">


            @foreach (var g in Model)
            {
                <div class="card rounded mb-2" style="border-bottom:1px solid #eee;">
                    <div class="card-header bg-dark shadow" id="@g.GroupName.GetDescription()">
                        <h5 class="mb-0">
                            <a href="#" class="collapsed text-sm" data-toggle="collapse" data-target="#@g.GroupName" aria-expanded="false" aria-controls="@g.GroupName">
                                @g.GroupName.GetDescription()
                            </a>
                        </h5>
                    </div>
                    <div id="@g.GroupName" class="collapse" aria-labelledby="@g.GroupName.GetDescription()" data-parent="#accordionExample">
                        <div class="card-body p-1" style="height:200px;overflow:auto">
                            @if (g.GroupMembers.Any())
                            {
                                <h6 class="text-gold m-3">Members</h6>
                                    <div class="user-row">

                                        @foreach (var m in g.GroupMembers)
                                        {
                                            <ul class="shadow-sm bg-light rounded p-2 mb-2 ml-lg-3 js-user-row">
                                                <li>#@count</li>

                                                <li class="text-muted text-sm">@m.FullName</li>
                                                <li class="text-muted m-0 text-sm">@m.Gender</li>
                                                <li>
                                                    <span class="badge badge-secondary shadow">@m.UserType.ToString()</span>
                                                    <a href="#" class="js-gym-remove" title="remove" data-id="@m.Id"><span class="badge badge-danger"><i class="fa fa-remove"></i></span></a>
                                                </li>
                                            </ul>
                                            count++;

                                        }

                                    </div>

                            }
                            else
                            {
                                <p>No members yet</p>
                            }
                        </div>
                    </div>
                </div>


            }

        </div>


    </div>
}
else
{
    <div class="col-lg-8 mt-2 bg-white h-25 shadow">

        <div class="alert alert-light shadow mt-2">
            <p class="text-center text-success">There are currently no Gym members.</p>

        </div>
    </div>
}

@section scripts{
    <script src="~/Scripts/bootbox.min.js"></script>
    <script>
        $(document).ready(function () {
            $(".js-gym-remove").click(function (e) {

                e.preventDefault();
                var link = $(this);
                bootbox.confirm({
                    message: "Are you sure you want to remove this user from this gym group?",
                    buttons: {
                        confirm: {
                            label: 'Yes',
                            className: 'btn-outline-danger'
                        },
                        cancel: {
                            label: 'Cancel',
                            className: 'btn-info'
                        }
                    },
                    callback: function (result) {
                        if (result) {
                            $.ajax({
                                type: "POST",
                                data: { userId: link.attr("data-id") },
                                url: "/admin/gym/remove"
                            })
                                .done(function (msg) {

                                    link.parents(".js-user-row").fadeOut("slow");

                                }).fail(function (msg) { alert(msg); });
                        }
                    }
                });

            });

        });


    </script>
}
