@model UnassignedMenteeViewModel
@{
    ViewBag.Title = "Assign";
    ViewBag.Heading = "Unassigned Mentees";
    ViewBag.SubHeading = "Assign Facilitators";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
    var rowCount = 1;

}

<div class="col-lg-9 mt-3 animated fadeIn">
    @{
        Html.RenderPartial("_Alerts");
    }
    <div class="container-fluid bg-light p-2 shadow">
        @if (Model.Mentees.Any())
        {

            <table class="table table-hover table-bordered table-responsive-sm" id="users">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">First Name</th>
                        <th scope="col">Last Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Manage</th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var mentee in Model.Mentees)
                    {
                        <tr>
                            <th scope="row">@rowCount</th>
                            <td>@mentee.FirstName</td>
                            <td>@mentee.LastName</td>
                            <td><a href="mailto:@mentee.Email" class="text-muted">@mentee.Email</a></td>
                            <td>
                                <a href="#" class="badge badge-warning mr-3 p-1 js-assign" data-toggle="modal" data-target="#assignModal" data-id="@mentee.Id">Assign Facilitator</a>

                                <a href="#" class="badge badge-danger p-1 js-delete-user" title="delete" data-id="@mentee.Id">
                                    <i class="fa fa-lg fa-trash"></i>
                                </a>
                            </td>
                        </tr>

                        rowCount++;
                    }
                </tbody>


            </table>

        }
        else
        {
            <div class="alert alert-light h-50 shadow">
                <p class="text-center text-success">There are currently no Mentees yet to be assigned to Facilitators.</p>
            </div>

        }
    </div>



</div>

<!--Modal-->
<div class="modal fade" id="assignModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog " role="document">
        <div class="modal-content bg-light">
            <div class="modal-header">
                <h5 class="modal-title text-gold text-center ml-3" id="exampleModalCenterTitle"><i class="fa fa-pencil fa-lg mr-3"></i>Assign Facilitator</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            @using (Html.BeginForm())
            {
                @Html.HiddenFor(model => model.MenteeId, htmlAttributes: new { id= "id"})
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row shadow mb-3">
                            <div class="col-md-12 p-3">
                                <p class="text-default mb-0">Name</p>
                                <h6 class="text-muted mb-3" id="username"></h6>

                                <p class="text-default mb-0">Gender</p>
                                <h6 class="text-muted mb-3" id="user-gender"></h6>

                                <p class="text-default mb-1">Preffered Facilitator Gender</p>
                                
                                <div class="custom-control custom-radio">
                                    @Html.RadioButtonFor(model => model.Gender, "Female", new { @class = "custom-control-input", id = "female" })
                                    <label class="custom-control-label text-sm" for="female">Female</label>
                                </div>
                                <div class="custom-control custom-radio">
                                    @Html.RadioButtonFor(model => model.Gender, "Male", new { @class = "custom-control-input", id = "male" })
                                    <label class="custom-control-label text-sm" for="male">Male</label>
                                </div>
                                <div class="custom-control custom-radio">
                                    @Html.RadioButtonFor(model => model.Gender, "All", new { @class = "custom-control-input", id = "all" })
                                    <label class="custom-control-label text-sm" for="all">All</label>
                                </div>
                                @Html.ValidationMessageFor(model => model.Gender, "", htmlAttributes: new { @class = "text-danger text-sm" })

                            </div>

                        </div>

                        <div class="row shadow">
                            <div class="col-md-12 p-2">
                                <select name="@nameof(Model.FacilitatorId)" class="form-control" id="facilitators">
                                    <option selected>Select Facilitator</option>
                                </select>
                                @Html.ValidationMessageFor(model => model.FacilitatorId, "",new { @class="text-danger, text-sm"})
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer border-gold">
                    <button type="submit" class="btn-sm btn-outline-gold" id="create">Assign</button>
                </div>

            }


        </div>
    </div>
</div>
@section Scripts{
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/bootbox.min.js"></script>
    <script src="~/Scripts/app/user-table.js"></script>
    <script>

        $(document).ready(function () {
            $(".js-assign").click(function () {


                var link = $(this);
                $.ajax({
                    type: "POST",
                    url: "/mentee/get",
                    data: { userId: link.attr("data-id") }
                }).done(function (user) {
                    $("#username").text(user.FullName);
                    $("#user-gender").text(user.Gender);
                    $("#id").val(user.Id);
                });
            });
        });
        var dropdown = $("#facilitators");
        $("input[type=radio][name=@nameof(Model.Gender)]").on("change", (function () {

            dropdown.empty();

            $.ajax({
                type: "POST",
                url: "/admin/get",
                data: { gender: this.value },

                success: function (facilitators) {

                    $.each(facilitators, function (i, item) {

                        $('<option />',
                            {
                                value: item.Id,
                                text: item.FullName

                            }).appendTo(dropdown);

                    });
                }

            });

        }));




    </script>
}
