@model UnassignedMenteeViewModel
@{
    ViewBag.Title = "Assign";
    ViewBag.Heading = "Unassigned Mentees";
    ViewBag.SubHeading = "Assign Facilitators";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
    var rowCount = 1;

}

<div class="col-lg-9 mt-3 animated fadeIn">
    <div class="container-fluid bg-light p-2 shadow">
        @if (Model.Mentees.Any())
        {

            <table class="table table-hover table-bordered table-responsive-sm" id="users">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">First Name</th>
                        <th scope="col">Last Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Manage</th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var mentee in Model.Mentees)
                    {
                        <tr>
                            <th scope="row">@rowCount</th>
                            <td>@mentee.FirstName</td>
                            <td>@mentee.LastName</td>
                            <td><a href="mailto:@mentee.Email" class="text-muted">@mentee.Email</a></td>
                            <td>
                                <a href="#" class="badge badge-warning mr-3 p-1 js-assign" data-toggle="modal" data-target="#assignModal" data-id="@mentee.Id">Assign Facilitator</a>

                                <a href="#" class="badge badge-danger p-1 js-delete-user" title="delete" data-id="@mentee.Id">
                                    <i class="fa fa-lg fa-trash"></i>
                                </a>
                            </td>
                        </tr>

                        rowCount++;
                    }
                </tbody>


            </table>

        }
        else
        {
            <div class="alert alert-light h-50 shadow">
                <p class="text-center text-success">There are currently no Mentees yet to be assigned to Facilitators.</p>
            </div>

        }
    </div>



</div>

<!--Modal-->
<div class="modal fade" id="assignModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog " role="document">
        <div class="modal-content form-back">
            <div class="modal-header border-gold">
                <h5 class="modal-title text-gold text-center ml-3" id="exampleModalCenterTitle"><i class="fa fa-pencil fa-lg mr-3"></i>Assign Facilitator</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            @using (Html.BeginForm())
            {

                <div class="modal-body">
                    <div class="container-fluid">

                        <h5 class="text-muted" id="username"><i class="fa fa-user"></i></h5>
                        <p id="user-gender"><i class="fa fa-female"></i></p>
                        @Html.DropDownListFor(model => model.Facilitators, Model.Facilitators, "Select facilitator")
                        @*<div class="row">
                                <div class="form-group col-md-12">
                                    <label class="text-default">Fist Name</label>
                                    @Html.EditorFor(model => model.FirstName, new
                                    {
                                        htmlAttributes = new { @class = "form-control", placeholder = "First Name" }
                                    })
                                    @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger text-sm" })
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-12">
                                    <label class="text-default">Last Name</label>
                                    @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control", placeholder = "Last Name" } })
                                    @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger text-sm" })
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-12">
                                    <label class="text-default">Email</label>
                                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", placeholder = "Email" } })
                                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger text-sm " })
                                </div>
                            </div>*@

                    </div>
                </div>

                <div class="modal-footer border-gold">
                    <button type="submit" class="btn-sm btn-outline-gold" id="create">Assign</button>
                </div>

            }


        </div>
    </div>
</div>
@section Scripts{

    <script src="~/Scripts/bootbox.min.js"></script>
    <script src="~/Scripts/user-table.js"></script>
    <script>

        $(".js-assign").click(function () {


            var link = $(this);
            $.ajax({
                type: "POST",
                url: "/mentee/get",
                data: { userId: link.attr("data-id") }
            }).done(function (user) {
                $("#username").text(user.FullName);
                $("#user-gender").text(user.Gender);
            });
        });
    </script>
}
