@using S.S.L.Web.Infrastructure.Extensions;

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - S.S.L</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/animate.css" rel="stylesheet" type="text/css" />
    <link href="~/Assets/font-awesome/css/font-awesome.min.css" rel="stylesheet" />

    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body style="padding: 0;overflow-x:hidden;">
    <!-- Image and text -->
    <div>
        <nav class="navbar fixed-top navbar-expand-lg animated" id="nav">
            <a class="navbar-brand" href="@Url.Action("index")">
                <img src="~/Assets/img/logo.png" alt="Alternate Text" id="logo" class="d-inline-block img-fluid" width="150" />
            </a>
            <button class="navbar-toggler side-bar-toggle" type="button" data-toggle="collapse" data-target="#sm-nav" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fa fa-fw text-default shadow fa-lg fa-th-list"></i>
            </button>
            <div class="collapse navbar-collapse col-lg-4 offset-6">
                <ul class="navbar-nav">

                    @if (!User.Identity.IsAuthenticated)
                    {
                        <li class="list-item animated"><a href="@Url.Action("login","account")"><i class="fa fa-user-circle mr-2"></i>Log in</a></li>
                        <li class="animated mr-4"><a href="@Url.Action("signup", "account")" class="btn btn-outline-gold">SignUp</a></li>

                    }
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li class="list-item animated"><a href="@Url.Action("logout","account")" class=""><i class="fa fa-sign-out mr-2"></i>Logout</a></li>
                        <li class="list-item animated"><a href="@Url.Action("index",User.Identity.GetUserType())"><i class="fa fa-user-circle mr-2"></i>@User.Identity.Name</a></li>
                    }

                </ul>
            </div>
        </nav>
        <div class="" id="banner-img">
            <div class="row">
                <div class="col-md-6 offset-lg-3 animated fadeIn shadow rounded delay" style="margin-top:200px;background-color:rgba(0,0,0,0.2)">
                    <h1 class="text-center display-3" style="">
                    We are <span class="text-gold">Sacred</span> and in the <span class="text-gold">Secular</span>.
                    </h1>
                </div>
            </div>

        </div>

        <div style="position:absolute;width:100%;height:500px;top:0;">
        </div>
    </div>

    <div class="container-fluid">
        <div class="row animated bg-blue-light info delay" id="about">
            <div class="col-md-6 col-lg-3 offset-lg-2">
                <section>
                    <p class="text-muted lead mb-2">Who are we?</p>
                    <h1 class="text-default display-4 text-shadow">About the community.</h1>
                    <p class="p-info">                   
                        We are a family
                        working together with the aim of ensuring that the interest of Christ is effectively
                        represented and defended in the secular affairs of life. It is our responsibility as believers
                        to represent Christ in our various circles of influence.
                        In this league, we will be sharing with you some scripture-based truths that we believe
                        will aid you in consciously influencing your secular world with the sacred life of Christ in
                        you. 
                        We believe we are righteous and we act accordingly.
                    </p>
                </section>
            </div>
            <div class="offset-lg-1 col-md-6 col-lg-5">
                <img src="~/Assets/img/01.jpg" alt="Alternate Text" class="img-fluid shadow " />
            </div>
        </div>
        <div class="row animated info delay" id="vision" style="background-color:black">
            <div class="col-md-6 col-lg-5 offset-lg-1">
                <img src="~/Assets/img/4.jpg" alt="Alternate Text" class="img-fluid shadow" />
            </div>
            <div class="col-md-6 col-lg-4 " style="margin-top:40px">
                <section>
                    <p class="lead text-muted mb-2 animated slideInDown">What drives us?</p>
                    <h1 class="text-default display-4 animated fadeIn">Our Vision.</h1>
                    <p class="p-info">
                        To provoke the manifestation of the sons of God in the secular via the doing of
                        righteousness so that the will of God will not just be known but will be done on
                        earth and thereby enthrone Christ in the secular where we will also reign with Him.
                    </p>
                </section>
            </div>

        </div>
        <div class="row animated bg-blue-light info delay" id="mission">
            <div class="col-md-6 col-lg-3 offset-lg-2">
                <section>
                    <p class="lead text-muted mb-2">What can we do?</p>
                    <h1 class="text-default display-4 text-shadow">Our Mission.</h1>
                    <p class="p-info">
                        Sacred secular exists to equip and edify believers to invade the secular with a
                        lifestyle of righteousness so that the will of God will always find expression in the
                        secular affairs of our generation and generations to come.
                    </p>
                </section>
            </div>
            <div class="col-md-6 col-lg-4 offset-lg-1">
                <img src="~/Assets/img/ssl2.jpg" alt="Alternate Text" class="img-fluid shadow" />
            </div>
        </div>

    </div>

    <div class="row animated info delay">
        <div class="col-md-6 offset-1">
            <p class="text-center"><i class="fa fa-4x fa-group text-secondary"></i></p>
            <h1 class="display-4 text-muted text-center">So how would you love to <span class="text-gold">Join Us?</span></h1>
            <p class="text-center mt-3"><a href="@Url.Action("signup","account")" class="btn p-2 btn-outline-gold">Sign Up Here</a></p>
        </div>
        <div class="col-md-3">

        </div>
    </div>

    <div class="container-fluid">
        @RenderBody()

    </div>
    <footer class="foot">
        <div class="container">
            <div class="row">
                <div class="col-md-9 foot-head">
                    <h1 class="display-3" style="color:#333">Sacred | Secular | League</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-9">
                    <h3>Contact us</h3>
                    <p class="text-white"><i class="fa fa-envelope fa-lg mr-4"></i><a href="mailto:sacsecleague@gmail.com" class="text-gold">sacsecleague@gmail.com</a></p>
                    <p class="text-gold"><i class="fa fa-phone text-white fa-lg mr-4"></i>08155098000</p>
                </div>
            </div>
            @*<p>&copy; @DateTime.Now.Year - Sacred Secular League</p>*@

        </div>
    </footer>
    <aside class="d-lg-none">
        <div class="hidden" id="side">
            <div class="nav-sm bg-light p-2 animated hidden side-nav" id="sm-nav">
                <button type="button" class="close text-gold p-2 mt-3 side-bar-toggle">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="mb-4 shadow" style="margin-left:0%;">
                    <a href="@Url.Action("index")"><img src="~/Assets/img/logo.png" alt="Alternate Text" class="img-fluid ml-2" width="120" /></a>
                </div>
                <ul class="nav-sm-list">

                    @if (!User.Identity.IsAuthenticated)
                    {
                        <li class="list-item-sm animated"><a href="@Url.Action("login","account")" class=""><i class="fa fa-user-circle mr-2"></i>Login</a></li>
                        <li class="animated mr-4"><a href="@Url.Action("signup", "account")" class="btn btn-outline-gold btn-block">SignUp</a></li>

                    }
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li class="list-item-sm animated"><a href="@Url.Action("logout","account")" class=""><i class="fa fa-sign-out mr-2"></i>Logout</a></li>
                        <li class="list-item-sm animated"><a href="@Url.Action("index",User.Identity.GetUserType())"><i class="fa fa-user-circle mr-2"></i>@User.Identity.Name</a></li>
                    }
                </ul>
            </div>
        </div>
    </aside>
    <script src="~/Scripts/jquery-3.0.0.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>

    <script src="~/Scripts/App/slides.js"></script>
    <script>
        $(document).ready(function () {
            var nav = $(".navbar")[0];
            var top = nav.offsetTop;


            var navtoggle = $("#nav-toggler");
            $(".list-item").hover(function () {

                $(this).toggleClass("shadow swing");
            });

            $('.side-bar-toggle').click(function () {

                if ($('.side-nav').hasClass('show')) {
                    animate('.side-nav', 'slideOutLeft');
                    setTimeout(function () {
                        $(".overlay").addClass("hidden");

                        $('.side-nav').removeClass('show')
                    }, 500);
                }
                else {

                    $("#side").removeClass("hidden");
                    animate('.side-nav', 'slideInLeft');
                    $('.side-nav').addClass('show');
                    return false;
                }
                setTimeout(function () {
                    $('.side-nav').removeClass('show')
                }, 1000);
            });

            //Animate function
            function animate(elem, animationStyle) {
                $(elem).addClass(animationStyle);
                var timeOut = setTimeout(function () {
                    $(elem).removeClass(animationStyle);
                }, 1000);

            }



            jQuery(document).ready(function ($) {
                $(window).scroll(function () {
                    var scroll = $(window).scrollTop();
                    var visionPos = $("#mission").scrollTop();

                    if (scroll >= 60) {
                        $("#nav").addClass("bg-cover fadeIn shadow");
                    } else {
                        $("#nav").removeClass("bg-cover fadeIn shadow");
                        $("#nav").addClass("");

                    }

                });
            });
        });

    </script>
</body>
</html>