@model TodoViewModel

<div class="col-lg-7 p-3 shadow-sm bg-light rounded">
    <div class="todo-title">
        <h4 class="text-muted" style="display: inline;">
            <i class="fa mr-3 fa-th-list"></i>My todo
        </h4>
        <hr>
    </div>
    <div class="shadow-sm p-1 mb-3">
        <form class="form-inline" onsubmit="return postTodoItem()" id="todoForm">
            <div class="form-group mr-1 col-md-10">

                @Html.EditorFor(model => model.TodoItem, new
                {
                    htmlAttributes = new
                    {
                        @class = "form-control col-md-12",
                        placeholder = "Add new todo",
                    }
                })

            </div>
            <button type="submit" class="btn btn-outline-gold btn-sm"><i class="fa fa-plus"></i></button>
            @Html.ValidationMessageFor(model => model.TodoItem, "", new { @class = "text-danger text-sm" })

        </form>
    </div>

    <div id="todoSection">

        @if (Model.Todos.Any())
        {
            foreach (var todo in Model.Todos)
            {

                if (todo.Done)
                {

                    <div class="shadow-sm p-2 mb-3">
                        <p style="display: inline;">
                            <i class="fa fa-check-square-o  text-success mr-3"></i>
                            @todo.Item
                        </p>
                        <span class="badge badge-success shadow-sm" href="#">done</span>
                    </div>
                }
                else
                {


                    <div class="shadow-sm p-2 mb-3">
                        <p style="display: inline;">
                            <i class="fa fa-square-o  text-danger mr-3"></i>
                            @todo.Item
                        </p>
                        <a class="badge badge-light shadow-sm js-update-todo" href="#" data-todo-id="@todo.TodoId">Mark as done</a>
                    </div>
                }
            }
        }
        else
        {
            <div class="shadow-sm p-3 mt-5" id="noTodo">
                <p class="text-success text-center">
                    You don't have any pending todos.
                </p>
            </div>
        }

    </div>
</div>

